
*{
    font-family: Arial, sans-serif;
}
.nav{
    background-color: purple;
    text-align: center;
    color: white;
    padding: 2vh 12vw;
}
ul{
    display: flex;
    justify-content: center;
    gap: 28px;
    color: white;

}
 .nav ul li a{
    text-decoration: none;
    list-style: none;
    color: white;
} 
li{
    list-style: none;
}

/* main start*/

.box{
    background: #fff;
    margin: 40px 0;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0.1);
}

/* footer start */
.footer {
    background-color: purple;
    color: white;
    text-align: center;
    padding: 10px 0;
}